.modal_,
.modal__consultation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.modal__content,
.modal__consultation__content {
    /* display: none; */
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 350px;
    background-color: $custom-grey;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;

    h2 {
        font-size: 18px;
    }

    .form_notice {
        margin-top: 30px;
    }
}

.modal__close {
    position: absolute;
    top: -2.2rem;
    right: -60px;
    font-size: 40px;
    color: #ffffff;
    border: none;
    background: transparent;
    cursor: pointer;

    &:active,
    &:focus {
        outline: none;
    }
}