.prices {
  background-color: #fbfbfb;

  &__wrapper {
    background: url("../img/prices/prices_bg.jpg") center (center / cover) no-repeat;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  &__description {
    .title {
      text-align: left;
      margin-left: 1%;
    }

    .subtitle {
      text-align: left;
      margin-left: 1%;
    }

    P {
      margin-top: 30px;
      font-size: 16px;
      text-align: left;
      max-width: 90%;
      margin-left: 1%;
    }

    span {
      color: $main-color;
    }
  }

  &__subservices {
    padding: 30px 0;
    margin-left: 1%;
  }

  &__attention {
    margin-left: 1%;
    margin-right: 1%;

    h4 {
      font-size: 30px;
      color: $main-color;
      margin-top: 40px;
    }

    p {
      margin-top: 20px;
    }
  }

  a {
    display: flex;
    justify-content: left;
    text-decoration: none;
    margin: 30px 0;
    font-size: 30px;
    font-weight: bold;
    color: $main-color;
    margin-left: 1%;
  }

  table {
    width: 98%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 1%;
    margin-right: 1%;

    h3 {
      padding: 60px 0;
    }

  }

  table,
  td,
  th {
    border: 1px solid $custom-black;
    padding: 5px;
  }

  td,
  th {
    padding: 3px;
    width: 30px;
    height: 35px;
  }

  th {
    background-color: #ffffff;
  }

  .table__title_grey {
    background: $custom-grey;
    padding: 5px;
  }
}