.title {
    font-size: 40px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.subtitle {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: $custom-black;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}