@media (max-width: 767px) {
    .prices {
        background: url("../img/prices/prices_bg_tablet.jpg") center (center / cover) no-repeat;

        &__description {
            p {
                font-size: 12px;
            }
        }

        &__table {
            &_fitting {
                display: none;
            }
        }

        table {
            font-size: 12px;
        }

        &__descr {
            font-size: 12px;
        }
    }
}

@media (max-width: 424px) {
    .prices {
        background: url("../img/prices/prices_bg_mobile.jpg") center (center / cover) no-repeat;

        &__description {
            p {
                font-size: 10px;
            }
        }

        table {
            font-size: 10px;
        }

        &__descr {
            font-size: 10px;

            h4 {
                font-size: 20px;
            }
        }

        .prices__table_fitting {
            display: none;
        }

        a {
            font-size: 20px;
        }
    }
}