@media (max-width: 1199px) {
    .services {
        &__list {
            justify-content: space-around;
        }

        &__item {
            width: 40%;
        }
    }
}


@media (max-width: 767px) {
    .services {
        background: url("../img/about/about_bg_tablet.jpg") (center / cover) no-repeat;

        .title {
            margin-top: 40px;
        }

        &__text {
            font-size: 12px;
        }

        &__item {
            width: 80%;
        }

        &__promo {
            padding: 60px 0;
        }
    }
}

@media (max-width: 424px) {
    .services {
        background: url("../img/about/about_bg_mobile.jpg") (center / cover) no-repeat;

        &__title {
            font-size: 14px;
        }

        &__promo {
            padding-top: 80px;
        }

        &__text {
            font-size: 12px;
        }

    }
}

@media (max-width: 374px) {
    .services {
        &__item {
            width: 90%;
        }
    }
}