@media (max-width: 1439px) {
    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 18px;
    }
}

@media (max-width: 1299px) {
    .subtitle {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (max-width: 424px) {
    .title {
        font-size: 14px;
    }

    .subtitle {
        font-size: 10px;
    }
}